* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url('./img/arena.jfif');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%; 
}

.container__imagemMestre {
    position: static;
}

.container__informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__dificuldades {
    border-radius: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1875E8;
    padding: 16px 24px;
    width: 20%;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border: #1875E8;
    margin-top: 16px;
}

.container__repo {
    position: relative;
    right: 100%;
    bottom: 20%;
    color: cornsilk;
}

.container__timer {
    position: absolute;
    top: 1%;
    left: 40%;
    height: 20%;
    width: 10%;
}

.container__emanuel {
    display: none;
    background-image: url(./img/emanuelV2.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__del {
    display: none;
    background-image: url(./img/del.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 16%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__mylena {
    display: none;
    background-image: url(./img/MylenaV2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20%;
    left: 23%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__yago {
    display: none;
    background-image: url(./img/yagoV2.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 37%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__mateus {
    display: none;
    background-image: url(./img/mateusV2.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 9%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__emanueldomal {
    display: none;
    background-image: url(./img/emanueldomal.jpeg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__deldomal {
    display: none;
    background-image: url(./img/deldomal.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 16%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__mylenadomal {
    display: none;
    background-image: url(./img/mylenadomal.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20%;
    left: 23%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__yagodomal {
    display: none;
    background-image: url(./img/yagodomal.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 37%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__mateusdomal {
    display: none;
    background-image: url(./img/mateusdomal.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 9%;
    background-color: black;
    height: 20%;
    width: 7%;
    cursor: pointer;
}

.container__textodamensagem {
    position: absolute;
    left: 2%;
    top: 30%;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

.container__botao {
    display: none;
    position: relative;
    left: 25%;
    height: 25%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1875E8;
    background-image: url(./img/socoV2.png);
    cursor: pointer;
    padding: 16px 24px;
    width: 20%;
    color: yellow;
    font-size: 24px;
    font-weight: 700;
    border: #1875E8;
    margin-top: 16px;
}

.container__comecar {
    display: none;
    position: relative;
    left: 25%;
    height: 25%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1875E8;
    background-image: url(./img/socoV2.png);
    cursor: pointer;
    padding: 16px 24px;
    width: 20%;
    color: yellow;
    font-size: 24px;
    font-weight: 700;
    border: #1875E8;
    margin-top: 16px;
}

.container__botao:hover {
    background-color: red;
}

.container__texto {
    margin: 16px 0 16px 0;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    position: absolute;
    left: 2%;
    top: 80%;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    font-weight: 400;
}

#meuContainer2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}

#meuContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}